<span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
  {% comment %} --> Stikcy Filter {% endcomment %}
  {% comment %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"/></svg> {% endcomment %}
  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="7" viewBox="0 0 10 7" fill="none">
    <path d="M9 1.5L5 5.5L1 1.5" stroke="#152755" stroke-width="1.5" stroke-linecap="round"/>
  </svg>
  {% comment %} <-- Stikcy Filter {% endcomment %}
</span>
