<div class="right-area">
  <div class="right-area-1">
    <div class="footer__title">
      {{ block.settings.title }}
    </div>
  </div>
  <div class="right-area-2">
    <div class="right-area-2-social">
      {% render 'social-icons', additional_classes: 'footer__social' %}
    </div>
    <div class="right-area-2-button">
      <button class="clear-cookies"> Clear Site Cookies</button>
    </div>
  </div>
</div>